/* You can add global styles to this file, and also import other style files */
body{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #3023ae;
  background: -webkit-linear-gradient(60deg, green 0%,white 100%);
}

ul{
  text-align: left;
  margin:10px;
  padding:10px;
  list-style: none;
  background: #fff;
  border-radius: 5px;
 }

button{
  cursor:pointer;

}

li{
  padding: 15px;
  margin:10px;
  font-size: 1em;
  font-style: italic;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

li>button{
  border:none;
  background-color: #fff;
  font-size: 1em;
  float: right;
  opacity: 0.6;
  transition: opacity 1s;

}

.title{
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 5em;
  text-shadow: 3px 5px #000;
  text-align: center;

}

.text-center{
  text-align: center;

}

.button{
  background-color: #000;
  border:none;
  padding:20px;
  color:#fff;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 50px;
  padding-right: 50px;


}

#modal{
  text-align: left;
  margin:10px;
  padding:10px;
  background: #fff;
  border-radius: 10px;
 
}


input{
  width: 100%;
  line-height:50px;
  text-indent:10px;
  font-size:1.2em;
}

